<nz-layout>
  <nz-table #basicTable [nzData]="wordsList">
    <thead>
      <tr>
        <th>English Word</th>
        <th>Meaning</th>
        <th>Related Word</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of wordsList">
        <td>{{ data.englishWord }}</td>
        <td>{{ data.meaning }}</td>
        <td><a>{{ data.relatedWords }}</a></td>
        <td>
          <a>{{ data.desc }}</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-table #editRowTable nzBordered [nzData]="wordsList" nzTableLayout="fixed">
    <thead>
      <tr>
        <th>English Word</th>
        <th>Meaning</th>
        <th>Related Word</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data">
        <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
          <td>{{ data.englishWord }}</td>
          <td>{{ data.meaning }}</td>
          <td><a>{{ data.relatedWords }}</a></td>
          <td><a>{{ data.desc }}</a></td>
          <td><a (click)="startEdit(data.id)">Edit</a></td>
        </ng-container>
        <ng-template #editTemplate>
          <td>
            <input
              type="text"
              nz-input
              [(ngModel)]="editCache[data.id].data.englishWord"
            />
          </td>
          <td>
            <input
              type="text"
              nz-input
              [(ngModel)]="editCache[data.id].data.meaning"
            />
          </td>
          <td>
            <input
              type="text"
              nz-input
              [(ngModel)]="editCache[data.id].data.relatedWords"
            />
          </td>
          <td>
            <input
              type="text"
              nz-input
              [(ngModel)]="editCache[data.id].data.desc"
            />
          </td>
          <td>
            <a (click)="saveEdit(data.id)" class="save">Save</a>
            <a
              nz-popconfirm
              nzPopconfirmTitle="Sure to cancel?"
              (nzOnConfirm)="cancelEdit(data.id)"
              >Cancel</a
            >
          </td>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>
</nz-layout>
