<div class="button-area">
  <button
    class="button-add"
    nz-button
    nzSize="large"
    (click)="addWord()"
    nzType="primary"
  >
    Add word
  </button>
  <button
    class="button-add"
    nz-button
    nzSize="large"
    (click)="modifyWordsList()"
    nzType="primary"
  >
    Modify
  </button>
  <button
    class="button-add"
    nz-button
    nzSize="large"
    (click)="updateWordsToFirebase()"
    nzType="primary"
  >
    Update
  </button>
</div>
<br />
<br />
<nz-layout>
  <div class="gutter">
    <div nz-row [nzGutter]="[10, 10]">
      <div
        nz-col
        class="gutter-row"
        [nzSpan]="6"
        *ngFor="let word of wordsList"
      >
        <label nz-checkbox [(ngModel)]="word.remembered"></label>
        <a
          [href]="'https://dictionary.cambridge.org/dictionary/english/' + word.englishWord"
          target="_blank"
          *ngIf="!word.editFlg"
          >{{word.englishWord}}</a
        >
        <input
          class="edit-input"
          *ngIf="word.editFlg"
          type="text"
          nz-input
          [(ngModel)]="word.englishWord"
        />

        <a class="edit" nz-dropdown [nzDropdownMenu]="menu">
          <i nz-icon nzType="more" nzTheme="outline"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="startEdit(word._id)">Edit</li>
            <li nz-menu-item nzDanger (click)="deleteWord(word._id)">Delete</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </div>
</nz-layout>
